
<!-- Mask -->

<header>
<div id="intro" class="view hm-black-strong">

	<div class="container-fluid full-bg-img d-flex align-items-center justify-content-center">
		
		<div class="row d-flex justify-content-center">
			<div class="col-md-8 text-center">
					<!-- Heading  -->
				<h2 class="display-3 font-bold white-text">Bon Appetit</h2>
				<!-- Divider -->
				<hr class="hr-light">
				<!-- Description-->
				<h4 class="white-text my-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has </h4>

				<button type="button" class="btn btn-outline-white">Lets get cooking</button>

			</div>
		</div>
	
	</div>

</div>

</header>


<!-- Mask -->
<!-- Main Layout -->

<main class="my-5">
	<div class="container">
			<!-- best features -->
			<section id="best-features" class="text-center">
				<h2 class="mb-4 font-weight-bold">Best Features</h2>
					<!-- Grid row -->
					<div class="row d-flex justify-content-center mb-4">
						<!-- Grid column -->
						<div class="col-md-8">
							<!-- Description -->
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has</p>

						</div>
						<!-- Grid column -->
					</div>
					<!-- Grid row -->

					<!-- Grid row -->
					<div class="row">
						

						<!-- Grid column -->
						<div class="col-md-4 mb-4">
							<i class="fa fa-cutlery fa-2x" aria-hidden="true"></i>
							<h4 class="my-4 font-weight-bold">Fresh</h4>
							<p>Create a home cooked meal with fresh ingredients </p>
						</div>
						<!-- Grid column -->
						<!-- Grid column -->
						<div class="col-md-4 mb-4">
							<i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
							<h4 class="my-4 font-weight-bold">Alert</h4>
							<p>Create a home cooked meal with fresh ingredients </p>
						</div>
						<!-- Grid column -->
						<!-- Grid column -->
						<div class="col-md-4 mb-4">
							<i class="fa fa-barcode fa-2x" aria-hidden="true"></i>
							<h4 class="my-4 font-weight-bold">Scan</h4>
							<p>Create a home cooked meal with fresh ingredients </p>
						</div>
						<!-- Grid column -->
						
					</div>

					<!-- Grid row -->
					
			</section>
			<!-- best features -->

		<hr class="my-5">

			<!-- Examples -->
			<section id="examples">
				<!-- Grid column -->
					<div class="col-lrg-4 col-md-12 mb-4">
						
					</div>
				<!-- Grid column -->

				<!-- Grid column -->
					<div class="col-lrg-4 col-md-6 mb-4">
						
					</div>
				<!-- Grid column -->

				<!-- Grid column -->
					<div class="col-lrg-4 col-md-6 mb-4">
						
					</div>
				<!-- Grid column -->

				<!-- Grid column -->
					<div class="col-lrg-4 col-md-12 mb-4">
						
					</div>
				<!-- Grid column -->
				
			</section>
			<!-- Examples -->
		<hr class="my-5">

			<!-- best Gallery -->
			<section id="best-callery">
				
			</section>
			<!-- best Gallery -->
		<hr class="my-5">

			<!-- best Contact -->
			<section id="best-contact">
				
			</section>
			<!-- best Contact -->
		<hr class="my-5">

	</div>
</main>


<!-- Main Layout -->