<h1>New Recipe</h1>


<div class="card container form-container">

	<div class="row">
		<div class="col-md-6">
			<div>
	<form #recipeForm="ngForm">
		<div class="form-group">
			<label for="recipe_name"></label>
			<input type="text"
					id="recipe_name"
					placeholder="Recipe Name"
					required
					name="recipe_name" 
					#recipe_name='ngModel'
					[(ngModel)]="recipe.recipe_name"
			>
		</div>

		<div [hidden]="recipe_name.valid || recipe_name.pristine"
			class="alert alert-danger" 
		>
			Recipe name must be entered  
		</div>
		<div class="form-group">
			<label for="prep_time"></label>
			<input type="number"
					id="prep_time"
					placeholder="Prep Time "
					
					name="prep_time" 
					#prep_time='ngModel'
					[(ngModel)]="recipe.prep_time"
			>
		</div>
		<div class="form-group">
			<label for="cook_time"></label>
			<input type="number"
					id="cook_time"
					placeholder="Cook Time"
					
					name="cook_time" 
					#cook_time='ngModel'
					[(ngModel)]="recipe.cook_time"
			>
		</div>
		<div class="form-group">
			<label for="recipe_ingredients"></label>
			<input type="text"
					id="recipe_ingredients"
					placeholder="Ingredients"
					class="md-textarea"
					required
					name="recipe_ingredients" 
					#recipe_ingredients='ngModel'
					[(ngModel)]="recipe.recipe_ingredients"
			>
		</div>
		<div [hidden]="recipe_ingredients.valid || recipe_ingredients.pristine"
			class="alert alert-danger"
		>
			ingredients must be entered  
		</div>
		<div class="form-group">
			<label for="recipe_steps"></label>
			<input type="text"
					id="recipe_steps"
					placeholder="Steps "
					class="md-textarea"
					name="recipe_steps" 
					mdbActive
					#recipe_steps='ngModel'
					[(ngModel)]="recipe.recipe_steps"
			>

		</div>
	</form>
</div>
			
		</div>
		<div class="col-md-6">
			<div>
	 
        <h1>{{recipe.recipe_name}}</h1>
        
        

        <strong>Prep Time:{{recipe.prep_time}} Minutes <br>
        		Cook Time:{{recipe.cook_time}} Minutes <br>
        		Total Time:{{recipe.prep_time+recipe.cook_time}} Minutes</strong>
        <h2>Ingredients</h2>
        <ol>
            <li>{{recipe.recipe_ingredients}}</li>
        </ol>
       
        
        <table>
            <thead>
                
            </thead>
            <tbody>
            </tbody>
        </table>
        
        <p><strong>Steps:<br><br>     </strong>{{recipe.recipe_steps}}
</p>
</div>
</div>

		</div>
		
	</div>
	
	

