





<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
           
    <!-- Navbar brand -->
    <a class=" animated slideInLeft navbar-brand" href="#">
            <img src="https://png.pngtree.com/element_origin_min_pic/17/08/22/9977288962d721e2a156674bd3f381d1.jpg" height="40" alt="">
        </a>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class=" animated slideInDown navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link waves-light" routerLink='/home' mdbRippleRadius>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink='/documents' mdbRippleRadius>Docs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink='/kitchen' mdbRippleRadius>Kitchen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink='/account' mdbRippleRadius>Account</a>
            </li>


            <!-- Dropdown -->
             <li class="nav-item dropdown " dropdown>
                <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle indigo" mdbRippleRadius>
                Recipes<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbRippleRadius routerLink='/recipes' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Recipes</a>
                    <a class="dropdown-item waves-light" mdbRippleRadius routerLink='/recipes/new' routerLinkActive="active">New Recipe</a>
                </div>
            </li>

        </ul>
        <!-- Links -->

        <!-- Search form -->
        <form class="animated slideInRight form-inline  waves-light" mdbRippleRadius>
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
<div class="app-body">
<router-outlet></router-outlet>
 </div>


